body{   
    margin: 0;
}

#link-immagini{
    margin-left: 50px;
    margin-right: 5px;
}

#menu{
    display: none;
}

#menu div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

/*navbar 1*/

#nav1{
    display: flex;
    background-color: #000;
    justify-content: space-between;
    height: 50px;
    max-width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
}

#contenitore-nav1{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*immagine nella navbar*/

#immagine-nav1{
    width: 150px;
    height: 30px;
    padding-bottom: -5px; /*sistemazione link*/
}

/*barra di ricerca*/
#modulo-ricerca-mobile{
    display: flex; /*ho allineato la lente di ricerca con la barra*/
    max-width: 100%;
    width: 100%;
    margin-left: 30px;
    margin-bottom: -5px;
}

/*mi modifica lo stile della barra di ricerca*/
#modulo-ricerca-search{
    border: 1px solid #DDD;
    border-radius: 2px;
    color: black; /*colore del testo che scriviamo nella barra di ricerca*/
    float: left;
    font: 15px Tahoma;
    font-weight: bold;
    box-sizing: border-box; /*dimensioni barra*/
    width: 300px;
    height: 40px;
    padding: 10px;
}

#lente-mobile{
    height: 40px;
    width: 40px;
}

#lente-ricerca{
    height: 40px;
    width: 40px;
    margin-left: -7px;
    margin-top: -3px;
}

#immagini-nav{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.contenitore{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 35px;
    margin-left: -25px; /*per mettere le immagini più vicine*/
}

#immagine-lingua{
    height: 20px;
    width: 20px;
}

#immagine-negozio{
    height: 20px;
    width: 20px;
}

#immagine-accesso{
    height: 20px;
    width: 20px;
}

span{
    font-size: 12px;
}

/*navbar*/

nav{
    display: flex;
    background-color: #000;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    border-top: 0.25px solid gray;
}

#menu-a-comparsa{
    position: fixed; /*per farlo sovrapporlo con la navbar, se no sposta tutto*/
}

#contenitore-nav{
    display: flex;
    flex-direction: row;
}

#carrello{
    margin-right: -30px;
    object-fit: contain;
}

#immagine-carrello{ 
    width: 35px;
    height: 35px;
}

#immagine-preferiti{
    width: 35px;
    height: 35px;
}

#preferiti{
    margin-left: -5px;
}

.effetto-sottolineato:hover{  /*effetto*/
    color: white;
    font-style: Helvetica;
    font-weight: bold;
    border-bottom: 3px solid white;
}

a{
    font: 700 0.875rem / 1.2 "Roboto", Arial, sans-serif;
    color: whitesmoke;
    font-size: 14px;
    margin: 0px 25px;
    text-decoration: none;  
}

/*header*/

header{
    filter: none;
    height: 540px;
    text-align: center;
    font: 1rem / 1.5 Roboto, Arial, sans-serif;
    color: white;
}

#immagine-header{
    height: 540px;
    width: 100%;
    margin-left: -25px;
    margin-right: -25px;
    margin-bottom: -5px;
}

#scritta_superiore{
    font-size: auto;
    font-weight: bold;
    color: white;
    margin-top: -370px;
    font-size: 300%;
}

#retrò{
    margin-top: -20px;
    font-size: 300%;
    font-weight: bold;
}

#scritta_inferiore{
    margin-top: -10px;
    font-size: 120%;
}

#contenitore-tasti{
    margin-top: 20px;
}

#tasti-header{
    background-color: white;
    color: #000;
    border-radius: 2px;
    padding: 10px;
    text-align: center;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

#tasti-header1{
    background-color: white;
    color: #000; 
    border-radius: 2px;
    padding: 10px 18px;
    text-align: center;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

/*section*/

section{   
    height: 2750px;
}

#loghi-container{
    margin-top: 10px;
}

#section-loghi-container{
    display: flex;
    direction: row;
    height: 100px;
}

.riga{
    width: 200px;
    height: 100px;
    margin-left: -5px;
}

.scarpe-container{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 10px;
}

.col1{
    max-width: 100%;
    margin-top: 10px;
    height: 475px;
    width: 475px;
    margin-left: -30px;
    margin-right: -30px;
}

#slide{
    height: 475px;
    width: 475px;
    background-image: url('asics1.jpg');
    background-size: cover;
}

#slide1{
    height: 475px;
    width: 475px;
    background-image: url('new_balance1.jpg');
    background-size: cover;   
}

#slide2{
    height: 475px;
    width: 475px;
    background-image: url('salomon1.jpg');
    background-size: cover; 
}

#point1, #point2{
    cursor: pointer;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    opacity: 0.8;
}

#point1:hover{
    opacity: 0.4;
}

#point2:hover{
    opacity: 0.4;
}

p{
    font: 900 1.75rem / 1.1 Roboto, Arial, sans-serif; /*il primo elemento rende più marcato il singolo carattere (bold),
     il secondo gli aumenta la dimensione, il terzo ne aumenta la distanza dalla foto e dal carattere sotto (se andiamo a capo)*/
}

.Link{
    font: 1.5rem / 1.1 Roboto, Arial, sans-serif;
    font-size: 17px;
    color: black;
}

#sconto-immagine{
    display: flex;
    justify-content: center;
    margin-top: 20px;
} 

#col2{
    height: 280px;
    width: 100%;
}

#link-sconti{
    text-align: center;
    margin-top: 20px;
}

#flx-membership{
    height: 288px;
    width: 100%;
    padding: 30px 0px;
}

#immagine-flx{
    position: absolute;
    margin: auto;
    height: auto;
    width: 100%;
}

#link-immagine-flex{
    margin: auto;
}

#flx-scritta1{
    position: relative;
    margin-top: 70px;
    margin-left: 50px;
    width: fit-content;
    font: 800 2.5rem / 1.1 Roboto, Arial, sans-serif;
    color: white;
}

#flx-scritta2{
    position: relative;
    margin-left: 50px;
    font: 1.25rem / 1.75 Roboto, Arial, sans-serif;
    color: white;
}

#posizionamento-bottoni{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 50px;
}

#flx{
    position: relative;
    color: black;
    height: 40px;
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
    font-weight: bold;
}

#flx1{
    margin-left: 40px;
    position: relative;
    color: black;
    height: 40px;
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
    font-weight: bold;
}

#fine{
    text-align: center;
}

#scritta-finale{
    font: 800 2.5rem / 1.1 Roboto, Arial, sans-serif;
    padding-top: 50px;
    padding-bottom: 30px;
}

/*bottoni centrali*/
#fine2{
    display: flex;
    justify-content: center;
}

.contenitore-scritta{
    height: 40px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid black;
    width: 175px;
    border-radius: 2px;
    background-color: white;
    cursor: pointer;
}

/*footer*/

footer{
    height: 1275px;
    width: 100%;
    background-color: #000;
    margin-top: 100px;
}

/*spostiamo i bottoni da sopra il limite del footer*/

#contenitore-bottoni-footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
}

.link-footer{
    text-align: center;
    background-color: #0e1111;
    margin-left: fit-content;
    border-radius: 2px;
    height: 90px;
    width: 275px;
    color: white;
    border: none;
    cursor: pointer;
}

.link-footer1{
    text-align: center;
    background-color: #0e1111;
    margin-left: fit-content;
    border-radius: 2px;
    height: 90px;
    width: 275px;
    color: white;
    border: none;
    cursor: pointer;
}

#riga1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#lista1{
    color: #DDD;
    display: flex;
    flex-direction: column;
}

.intestazione{
    color: #DDD;
    padding-top: 40px;
    padding-bottom: 35px;
    font: 600 1.1rem / 2 Roboto, Arial, sans-serif;
    padding-left: 40px;
}

.lista-link{
    font: 1rem / 2.5 Roboto, Arial, sans-serif;
    margin-left: 40px;
    width: fit-content;
}

.lista-link:hover{
    color: white;
    font-style: Helvetica;
    text-decoration: underline;
}

#lista2{
    display: flex;
    flex-direction: column;
}

#contenitore-social{
    margin-top: 50px;
    width: fit-content;
}

.immagine-social{
    width: 32px;
    height: 32px;
}

.write{
    font: 1rem / 0 Roboto, Arial, sans-serif;
    color: #DDD;
    padding-left: 25px;
    padding-bottom: 30px;
}

.intestazione2{
    color: #DDD;
    padding-right: 200px;
    font: 600 1.1rem / 2 Roboto, Arial, sans-serif;
    padding-left: 25px;
}

.contenitore-scritta1{
    width: 300px;
    padding: 10px 30px;
    border: 1px solid white;
    color: white;
    background-color: black;
    cursor: pointer;
}

#scritta_mappa{
    color: white;
    margin-left: 60px;
    font: 600 1.7rem / 2 Roboto, Arial, sans-serif;
}

#mappa{
    width: 92%;
    height: 300px;
    margin: auto;
}

#parte-finale-footer{
    border-top: 1px solid gray;
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
    border-bottom: 1px solid gray;
}

#immagine-footer{
    margin-top: 0px;
    margin-left: -25px;
    margin-bottom: 10px;
}

#immagine-footer2{
    width: 150px;
    height: 30px;
    padding-bottom: -5px; /*sistemazione link*/
    margin-top: 25px;
}

#testo-sotto-immagine{
    font: 0.7rem / 2 Roboto, Arial, sans-serif;
    color: #DDD;
    margin-left: 60px;
    margin-top: 40px;
    font-size: 12px;
}

#testo-footer{
    font: 0.8rem / 2 Roboto, Arial, sans-serif;
    color: white;
    margin-top: -40px;
    margin-bottom: 30px;
    text-align: right;
}

@media (max-width: 960px){

    #js-lingua{
        display: none;
    }

    #js-negozio{
        display: none;
    }

    #js-accesso{
        display: none;
    }

    #links{
        display: none;
    }

    nav{
        max-width: 960px;
        width: 100%;
    }
    
    #nav1{
        display: flex;
        max-width: 960px;
        width: 100%;
    }

    /*spostiamo il carrello e il menù*/
    #menu{
        display: flex;
        justify-content: right;
        margin-left: -65px; 
        width: 0px; /*riduco la dimensione del div*/
    }

    #menu div{
        background-color: white;
    }

    #contenitore-nav-mobile{
        display: flex;
        margin-top: -130px;
    }

    #carrello{
        margin-right: 5px;
    }

    /*barra di ricerca*/
    #modulo-ricerca-mobile{
        display: flex;
        margin-top: 140px;
        margin-left: -185px;
    }

    #modulo-ricerca-search{
        max-width: 100%;
        width: 500px;
    }

    #lente-ricerca{
        margin-top: -2px;
    }

    #link-menu{
        margin-left: 20px;
        height: fit-content;
    }

    #menu-a-comparsa{
        position: absolute;
        margin-top: 465px;
        height: 530px;
        max-width: 960px;   
        width: 100%;
    }

    .menu1{
        background-color: white;
        height: 70px;
        line-height: 70px;
        border-bottom: 1px solid gray;
        padding-left: 10px;
        text-align: center;
    }

    a.link-testo-menu:hover{
        text-decoration: underline;
    }

    .link-testo-menu{
        color: black;
        font-size: 17px;
        text-decoration: none; 
        font-weight: bold;
    }

    #menu-finale{
        background-color: #000;
        height: 190px;
        display: flex;
        flex-direction: row;
        justify-content: right;
    }

    #striscie-bianche1{
        width: 20px;
        height: 190px;
        background-color: white;
    }

    #striscie-bianche2{
        width: 20px;
        height: 190px;
        background-color: white;
        margin-left: 20px;
    }

    #striscie-bianche3{
        width: 20px;
        height: 190px;
        background-color: white;
        margin: 0px 20px;
    }

    .hidden{
        display: none;
    }

    /*header*/
    #immagine-header{
        max-width: 960px;
        width: 100%;
        height: auto;
    }

    #colonna{
        margin-top: 400px;
    }

    #scritta_superiore{
        color: black;
        font-size: 30px;
    }

    #retrò{
        color: black;
        margin-top: auto;
        font-size: 30px;
    }

    #scritta_inferiore{
        color: black;
        margin-top: auto;
        font-size: 15px;
    }

    #contenitore-tasti{
        display: flex;
        flex-direction: column;
    }

    .link-mobile{
        margin-bottom: 10px;
    }

    #tasti-header{
        background-color: black;
        color: white;
        max-width: 550px;
        width: 100%;
        border-radius: 0px;
    }

    #tasti-header1{
        background-color: black;
        color: white;
        max-width: 550px;
        width: 100%;
        border-radius: 0px;
    }

    /*section*/

    section{
        height: 100%;
    }

    #loghi-container{
        display: none;
    }

    .scarpe-container{
        display: flex;
        flex-direction: column;
    }

    #slide, #slide1, #slide2{
        max-width: 475px;
        width: 100%;
        height: 475px;
        margin: auto;
        margin-top: 10px;
    }

    /*sistemiamo la dimensione della foto sconti della settimana*/
    #col2{
        max-width: 960px;
        width: 100%;
        height: auto;
    }

    #immagine-flx{
        max-width: 960px;
        width: 100%;
        height: auto;
    }

    #flx-membership{
        padding-bottom: 100px;
    }

    .colonna2{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #flx-scritta1{
        color: black;
        margin-top: 170px;
    }

    #flx-scritta2{
        color: black;
    }

    #flx{
        max-width: 300px;
        width: 100%;
        height: 40px;
        background-color: white;
        border: 1px solid black;
        border-radius: 2px;
        font-weight: bold;
    }

    #flx1{
        max-width: 300px;
        width: 100%;
        height: 40px;
        background-color: white;
        border: 1px solid black;
        border-radius: 2px;
        font-weight: bold;
    }

    #scritta-finale{
        text-align: center;
    }

    #fine2{
        display: flex;
        flex-direction: column;
    }

    .div-fine2{
        max-width: 960px;
        width: 100%;
    }

    /*footer*/

    footer{
        height: 1550px;
    }

    .contenitore-scritta{
        max-width: 400px;
        width: 100%;
        margin-bottom: 10px;
    }

    .bottoni-footer{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .link-footer1{
        margin-top: 15px;
    }

    #riga1{
        display: flex;
        justify-content: left;
        flex-direction: column;
    }

    .intestazione{
        margin-bottom: -30px;
        margin-left: -40px
    }

    #lista1{
        border-bottom: 2px solid white;
        margin-left: 40px;
        margin-right:40px
    }

    #lista2{
        border-bottom: 2px solid white;
        margin-left: 40px;
        margin-right:40px;
    }

    #contenitore-social{
        margin-left: 20px;
    }

    .intestazione2{
        margin-left: 15px;
    }

    .write{
        margin-left: 15px;
    }

    .link-footer2{
        margin-left: 40px;
        padding-left: 80px;
        padding-right: 80px;
    }

    .contenitore-scritta1{
        max-width: 300px;
        width: 100%;
        font-size: 13px;
        margin-left: 15px;
        margin-bottom: 10px;
        border-radius: 2px;
    }

    #parte-finale-footer{
        border: none;
        padding-left: 10px;
        max-width: 500px;
    }

    #immagine-footer{
        margin-top: -40px;
        margin-left: -50px;
    }

    #testo-footer{
        margin-left: -280px;
        color: black;
        margin-top: 20px;
    }

    #testo-sotto-immagine{
        margin-left: 45px;
    }
}

/*mobile*/
@media (max-width: 650px){

    body{
        max-width: 650px;
        width: 100%;
    }

    #links{
        display: none;
    }

    #js-lingua{
        display: none;
    }

    #js-negozio{
        display: none;
    }

    #js-accesso{
        display: none;
    }

    #modulo-ricerca-search{
        max-width: 650px;
        width: 100%;
    }

    /*section*/

    section{
        height: 6400px;
        max-width: 650px;
        width: 100%;
    }

    #fine2{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .link-mobile1{
        margin-bottom: 10px;
    }

    .contenitore-scritta{
        max-width: 300px;
        width: 100%;
        color: black;
        background-color: white;
        border: 1px solid black;
    }

    /*footer*/

    footer{
        max-width: 650px;
        width: 100%;
        height: 1800px;
    }

    #contenitore-bottoni-footer{
        display: flex;
        flex-direction: column;
    }

    .link-footer{
        max-width: 650px;
        width: 100%;
    }

    .link-footer1{
        max-width: 650px;
        width: 100%;
        margin-bottom: 15px;
    }
}

/*parte per js*/

/*per impedire lo scroll del body*/
.no-scroll{
    overflow: hidden;
}

#div-accesso{
    position: absolute;
    height: 275px;
    width: 450px;
    background-color: white;
    top: 50%;       
    left: 50%;       
    transform: translate(-50%, -50%);    /*capire cosa fa*/ /*dovrebbe centrarlo orizzontalmente e verticalmente del 50%*/         
}

.hidden{
    display: none;
}

#contenitore-int-js{
    background-color: #f5f5f5;
    margin-top: -21px; /*per spostarlo in alto allineandolo con il div*/
    text-align: left;
    font-size: 20px;
    color: black;
    padding-left: 30px; /*per spostare la scritta*/
    padding-top: 10px; /*allargere il contenitore e centrare la scritta*/
    padding-bottom: 10px; 
}

#cont-email{
    margin-top: 30px;
    margin-bottom: 30px;
}

#email{
    height: 30px;
    width: 400px;
    font-weight: bold;
}

#cont-pass{
    margin-bottom: 15px;
}

#password{
    height: 30px;
    width: 400px;   
    font-weight: bold;
}

#pass-dim{
    color: blue;
}

#button-accesso{
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}

#crea-account{
    margin-left: 15px;
    width: 200px;
    height: 40px;
    border-radius: 1px;
    border: 1px solid black;
    font-weight: bold;
    background-color: #f5f5f5;
    cursor: pointer;
}

#accedi{
    color: white;
    margin-right: 15px;
    width: 200px;
    height: 40px;
    border-radius: 1px;
    border: 1px solid black;
    font-weight: bold;
    background-color: black;
    cursor: pointer;
}

#modal-view.hidden{
    display: none;
}

#modal-view{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-view img{
    max-height: 90vh;
    max-width: 90vw;
}

#tendine-lingua{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column; /*per i bottoni*/
    position: absolute;
    height: 400px;
    background-color: white;
    width: 100px;
    margin-top: 30px;
    border: 1px solid black;
}

.bottoni-lingua{
    width: 50px;
    height: 30px;
    background-color: white;
    border: 1px solid gray;
    cursor: pointer;
    border-radius: 2px;
}

#tendine-lingua.hidden{
    display: none;
}

/*per spotify*/
#album-view {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}
  
#album-view .album {
    background-color: black;
    margin: 10px;
    border: 1px solid slategray;
    padding: 5px;
    max-width: 150px;
    display: flex;
    flex-direction: column;
    height: 150px;
}
  
#album-view img {
    max-width: 100%;
    height: 100px;
}